# Cryptocurrency Analytics

## Import Libraries

In [2]:
# Import Libraries
from google.cloud import bigquery
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from google.cloud import bigquery

## Connect to Google Big Query API

In [ ]:
# Define Google Cloud Credential
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="C:/Users/JCRG/Desktop/Master/Dissertation/Code/Google Cloud/dissertation-352916-492433041777.json"
# Call Big Query API
bqclient = bigquery.Client()

Queries can be run directly from the notebook; however, considering the computational power required for running some queries, they are run in BigQuery and saved in the folder

In [ ]:
# Code to Execute Queries from notebook
query_string = """

"""

df_wallets_high_balance = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(
        create_bqstorage_client=True,
    )
)
print(df_wallets_high_balance.head())

## Highest Positive Variation in Wallets

The comparison is performed since 2019-01-01 to 2020-06-19

### Compare based on Account Balance

In [3]:
# Load data from balances
balances_20190101=pd.read_csv('Balances_20190101.csv')
balances_20220601=pd.read_csv('Balances_20220619.csv')

In [4]:
# Merge data
balances_join=balances_20220601.merge(balances_20190101,on='address')
# Calculate percentual difference
balances_join['percentual_Diff']=(balances_join['balance_x']-balances_join['balance_y'])/balances_join['balance_y']*100
# Organize and print data
balances_join=balances_join[balances_join['balance_x']>100].sort_values('percentual_Diff',ascending=False)

In [5]:
top_100_addresses=balances_join[0:99]['address']

In [6]:
top_100_addresses.to_csv('top_100_addresses.csv',index=False,sep='\t', encoding='utf-8')

## Network Analysis of Top addresses

In [7]:
import networkx as nx

In [8]:
# Load data from balances
network_data=pd.read_csv('top10_merge_transaction_contract.csv')
network_data.head()

,address,hash,nonce,transaction_index,from_address,to_address,value,gas,gas_price,input,...,receipt_contract_address,receipt_root,receipt_status,block_timestamp,block_number,block_hash,max_fee_per_gas,max_priority_fee_per_gas,transaction_type,receipt_effective_gas_price
0,0x8f6438f028b0fba4dcea654bcd7f46e868f0129e,0x17ad069d421501c8027f777275c26a6b3787d732f0da...,0.0,0.0,0x8f6438f028b0fba4dcea654bcd7f46e868f0129e,0x5fd0745c4e2091fc37305f0b5b61b6d0ba9a2086,3E+18,21000.0,20000000000,0x,...,NaN,0x515fe9501095e7a567b8d60015b7f509225d6da66cea...,NaN,2016-12-11 17:54:22 UTC,2789973.0,0x4145033ee060c082ca7d2a0e07818cfd77857bd5b3e9...,NaN,NaN,NaN,2.000000e+10
1,0xc3ae285106d44bebe80bd2bea93295223a3cc253,0x32cea138d0826b84737a65d034506e8039f897ba54c3...,5.0,15.0,0xc3ae285106d44bebe80bd2bea93295223a3cc253,0x08711d3b02c8758f2fb3ab4e80228418a7f8e39c,0,52061.0,10000000000,0xa9059cbb0000000000000000000000008c10310196ba...,...,NaN,0x789b2eac3fc4969e94f34290631168345b423fd69b67...,NaN,2017-08-11 09:20:08 UTC,4143813.0,0x6d412ec61072d7249d27bcf05c0da629b332b9922958...,NaN,NaN,NaN,1.000000e+10
2,0x6617dea94202ab8fa8aae019b45c9881e30365ea,0x85ab1387e86dc88936d82d68364eb5c7c2d7dc0e5d86...,206.0,150.0,0x6617dea94202ab8fa8aae019b45c9881e30365ea,0xdac17f958d2ee523a2206206994597c13d831ec7,0,75865.0,20500000000,0xa9059cbb000000000000000000000000e0a472da1a14...,...,NaN,NaN,1.0,2022-03-09 13:34:53 UTC,14352878.0,0x573754c19864922674d51c9a7ba57f4fd8cbd92b40ae...,NaN,NaN,NaN,2.050000e+10
3,0xc3ae285106d44bebe80bd2bea93295223a3cc253,0xc5f9694cce684c6f228ab29ce9c7a1b6ab1b55a93b59...,132.0,240.0,0xc3ae285106d44bebe80bd2bea93295223a3cc253,0x1f9840a85d5af5bf1d1762f925bdaddc4201f984,0,44535.0,1.538E+11,0x095ea7b3000000000000000000000000def1c0ded9be...,...,NaN,NaN,1.0,2022-01-31 00:17:55 UTC,14110373.0,0x5f145de5bad9957038b3111b8ec1bbad6cfcdffb3a3f...,3.120960e+11,1.000000e+09,2.0,1.538000e+11
4,0xc3ae285106d44bebe80bd2bea93295223a3cc253,0x66bc4900fd6434d09980c97ea6b0523116beaddf4a2f...,134.0,303.0,0xc3ae285106d44bebe80bd2bea93295223a3cc253,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0,64506.0,1.50375E+11,0x095ea7b3000000000000000000000000def1c0ded9be...,...,NaN,NaN,1.0,2022-01-31 00:19:51 UTC,14110379.0,0xbb0dc12543e7043c5a53535a9f6c4242b8e0c66bf93c...,2.728820e+11,1.000000e+09,2.0,1.503750e+11

In [9]:
network=network_data[network_data['from_address'].isin(['0x6617dea94202ab8fa8aae019b45c9881e30365ea'])]
#network.groupby('to_address').count()
network['to_address']

2       0xdac17f958d2ee523a2206206994597c13d831ec7
10      0x207f89878dd1fe18f55c5aff4e9288153714a1eb
12      0xd3caf400a7bc3594fa9c88884c71908d7fc23211
43      0x207f89878dd1fe18f55c5aff4e9288153714a1eb
45      0x207f89878dd1fe18f55c5aff4e9288153714a1eb
                           ...
3022    0xe0da98e1599dfacd8ef2a82272cbd2af66677964
3029    0x664847d871d735a823b6ef8572dc2a3e43248f1b
3031    0x207f89878dd1fe18f55c5aff4e9288153714a1eb
3059    0x6dfb2c9a0e5cb7d74ce67d131c617edb7fc48bb7
3073    0x6dfb2c9a0e5cb7d74ce67d131c617edb7fc48bb7
Name: to_address, Length: 231, dtype: object

In [10]:
network_data_grouped=network_data[['from_address','to_address','value']].groupby(['from_address','to_address']).count()
print(network_data_grouped)

                                                                                       value
from_address                               to_address
0x6617dea94202ab8fa8aae019b45c9881e30365ea 0x1e14e5f73d58c18e196a762e738e541207f0fe04      2
                                           0x1fbc19dcc8c34462e70c585eb9ddd1247545fce0      1
                                           0x207f89878dd1fe18f55c5aff4e9288153714a1eb     69
                                           0x20eb0f078d7ee953ba62c5966922a8d22f5fa471      1
                                           0x23e122e355c87636748a818cdc38e38f852ca9a8      1
...                                                                                      ...
0xca7c767854b1e7305de07247ab85e30543d1d9c9 0xfbeef911dc5821886e1dda71586d90ed28174b7d      1
                                           0xfd6b622a543c8571506d74ab47505515f5da3034      1
                                           0xfea5e213bbd81a8a94d0e1edb09dbd7ceab61e1c      3
                                           0xff8c6185b518428d2681bab1da6d662726bbf2d7     10
                                           0xffffffff2ba8f66d4e51811c5190992176930278      1

[635 rows x 1 columns]

In [11]:
network_data_grouped.reset_index(inplace=True)

In [12]:
network_data_grouped

,from_address,to_address,value
0,0x6617dea94202ab8fa8aae019b45c9881e30365ea,0x1e14e5f73d58c18e196a762e738e541207f0fe04,2
1,0x6617dea94202ab8fa8aae019b45c9881e30365ea,0x1fbc19dcc8c34462e70c585eb9ddd1247545fce0,1
2,0x6617dea94202ab8fa8aae019b45c9881e30365ea,0x207f89878dd1fe18f55c5aff4e9288153714a1eb,69
3,0x6617dea94202ab8fa8aae019b45c9881e30365ea,0x20eb0f078d7ee953ba62c5966922a8d22f5fa471,1
4,0x6617dea94202ab8fa8aae019b45c9881e30365ea,0x23e122e355c87636748a818cdc38e38f852ca9a8,1
...,...,...,...
630,0xca7c767854b1e7305de07247ab85e30543d1d9c9,0xfbeef911dc5821886e1dda71586d90ed28174b7d,1
631,0xca7c767854b1e7305de07247ab85e30543d1d9c9,0xfd6b622a543c8571506d74ab47505515f5da3034,1
632,0xca7c767854b1e7305de07247ab85e30543d1d9c9,0xfea5e213bbd81a8a94d0e1edb09dbd7ceab61e1c,3
633,0xca7c767854b1e7305de07247ab85e30543d1d9c9,0xff8c6185b518428d2681bab1da6d662726bbf2d7,10
634,0xca7c767854b1e7305de07247ab85e30543d1d9c9,0xffffffff2ba8f66d4e51811c5190992176930278,1

In [13]:
G = nx.from_pandas_edgelist(network_data_grouped, 
                            source='from_address',
                            target='to_address',
                            create_using=nx.DiGraph)

In [14]:
plt.rcParams.update({'figure.figsize':(15,8),'figure.dpi':100})
nx.draw_networkx(G,with_labels=False)

AttributeError: module 'scipy.sparse' has no attribute 'coo_array'

In [15]:
from pyvis import network as net
g=net.Network(notebook=False,height='400px', width='80%',heading='')
g.show_buttons(filter_=True)

In [16]:
g.from_nx(G)

In [17]:
g.show('a.html')

In [194]:
#G.out_degree(weight='points')

pd.DataFrame(G.in_degree()).sort_values(1,ascending=False)

                                              0  1
80   0x7a250d5630b4cf539739df2c5dacb4c659f2488d  5
16   0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48  5
73   0x1f9840a85d5af5bf1d1762f925bdaddc4201f984  5
88   0x111111125434b319222cdbf8c261674adb56f3ae  4
128  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  4
..                                          ... ..
273  0xc2a39291acf6ae4ed29c6fcc15f1d54141f8d833  0
150  0x9d2e7bdb754a2a8ee10038933b5a885e6aaf2c73  0
28   0x874b87125cf394cd17398f45ee0dbc31fceda791  0
69   0x8f0172b948b0d6700f35ab27a22906fa2e672071  0
0    0x6617dea94202ab8fa8aae019b45c9881e30365ea  0

[554 rows x 2 columns]